@model MVC_ComplexDataModel.ViewModels.InstructorIndexData

@{
    ViewBag.Title = "Instructors";
}

<h2>Instructors</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table table-striped">
    <tr>
        <th>
            LastName
        </th>
        <th>
            FirstMIdName
        </th>
        <th>
            HireDate
        </th>
        <th>
            Office
        </th>
        <th></th>
    </tr>

@foreach (var item in Model.Instructors) {
    string selectedRow = "";
    if (item.InstructorID == ViewBag.InstructorID)
    {
        selectedRow = "success";
    }
    <tr class="@selectedRow" valign="top">
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.FirstMIdName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HireDate)
        </td>
        <td>
            @if (item.OfficeAssignment != null)
            {
                @item.OfficeAssignment.Location
            }
        </td>
        <td>
            <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
            @Html.ActionLink("Select", "Index", new { id = item.InstructorID}) |
            <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
            @Html.ActionLink("Edit", "Edit", new { id=item.InstructorID }) |
            <span class="glyphicon glyphicon-zoom-in" aria-hidden="true"></span>
            @Html.ActionLink("Details", "Details", new { id=item.InstructorID }) |
            <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            @Html.ActionLink("Delete", "Delete", new { id=item.InstructorID })
        </td>
    </tr>
}

</table>

@if (Model.Courses != null)
{
    <h3>Course Taught by Selected Instructor</h3>
    <table class="table table-striped" >
        <tr>
            <th></th>
            <th>ID</th>
            <th>Title</th>
            <th>DepartmentID</th>
        </tr>
        @foreach (var item in Model.Courses)
        {
            string selectedRow = "";
            if (item.CourseID == ViewBag.courseID)
            {
                selectedRow = "success";
            }
            <tr class="@selectedRow">
                <td>
                    <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>
                    @Html.ActionLink("Select", "Index", new { courseID = item.CourseID})
                </td>
                <td>@item.CourseID</td>
                <td>@item.Title</td>
                <td>@item.DepartmentID</td>
            </tr>
        }
    </table>
}
@if (Model.Enrollment != null)
{
    <h3>Student enrolled in selected course</h3>
    <table class="table table-striped">
        <tr>
            <th>Name</th>
            <th>Grade</th>
        </tr>
        @foreach (var item in Model.Enrollment)
        {
            <tr>
                <td>@item.Student.FullName</td>
                <td>@Html.DisplayFor(modelItem => item.Grade)</td>
            </tr>
        }
    </table>
}




